---
layout: default
title: GitLab for Small Business - Collaboration made easy
description: "Accelerate your software delivery with GitLab’s DevOps platform, lowering your development costs and streamlining team collaboration"
canonical_path: "/small-business/"
image_title: '/images/enterprise/open-graph-enterprise.png'
twitter_image: "/images/enterprise/open-graph-enterprise.png"
disable_default_styles: true
disable_fontawesome: true
disable_tinyslider: true
disable_handbook_styles: true
suppress_header: true
data_identifier: small_business_page
feature_list_title: "How does GitLab help these companies become more productive, efficient and effective?"
feature_list_subtitle: "A DevOps platform improves a lot more than the bottom line."
cta_trial_css_class: "orange-light"
cta_contact_sales_css_class: "lavender"
cta_contact_title: "What's stopping you from transforming your software development process?"
cta_contact_subtitle: "Unlimited access to all features for 30 days."
cta_contact_button_primary_text: "Try Gitlab for Free"
cta_contact_button_primary_url: "/free-trial/"
cta_contact_button_secondary_text: "See pricing"
cta_contact_button_secondary_url: "/pricing/"
cta_contact_button_secondary_css_class: "lavender"
cta_trial_button_secondary_text: "See pricing"
cta_trial_button_secondary_url: "/pricing/"

extra_css:
  - enterprise.css
  - small_business.css
google_optimize: false
---

.container.container2020.mobile-text-center.no-padding-bottom-mobile#intro
  .row.u-padding-top-md.u-padding-bottom-0
    .col-md-6.u-padding-top-sm.u-margin-bottom-0
      .row
        .col-md-12.u-margin-bottom-sm
          %h1.u-margin-bottom-xxs Let’s grow together
          %h4 One application, endless possibilities. Our DevOps Platform grows with you.
      .row.u-margin-bottom-xs
        .col-md-12
          %p.btn-height.u-margin-bottom-0.hero-content
            = link_to "Start your free trial", "/free-trial/", class: "btn orange-light cta-btn u-margin-right-0" 
            = link_to "See Pricing", "/pricing/", class: "btn cta-btn lavender"
        .row.hide-on-desktop-only
          .col-md-12.u-margin-bottom-md
            = image_tag "/images/organizations/logo_glympse_2.svg", alt: "Glympse logo", loading: "lazy", class: "intro-organization-logo"
            = image_tag "/images/organizations/logo_hotjar_2.svg", alt: "Hotjar logo", loading: "lazy", class: "intro-organization-logo"
            = image_tag "/images/organizations/logo_remote_2.svg", alt: "Remote logo", loading: "lazy", class: "intro-organization-logo"
            = image_tag "/images/organizations/logo_trek.svg", alt: "Trek10 logo", loading: "lazy", class: "intro-organization-logo"
            = image_tag "/images/organizations/logo_mga.svg", alt: "Treck logo", loading: "lazy", class: "intro-organization-logo"
        .mobile-adaptive-show-under-lg.slp-flex.slp-justify-center
          %img{src: "/images/enterprise/gitlab-enterprise-header-flow-mobile.png", alt: "Image: version control", loading: "lazy"}
      .row.hide-on-mobile
        .col-md-12.u-margin-bottom-0
          = image_tag "/images/organizations/logo_glympse_2.svg", alt: "Glympse logo", loading: "lazy", class: "intro-organization-logo"
          = image_tag "/images/organizations/logo_hotjar_2.svg", alt: "Hotjar logo", loading: "lazy", class: "intro-organization-logo"
          = image_tag "/images/organizations/logo_remote_2.svg", alt: "Remote logo", loading: "lazy", class: "intro-organization-logo"
          = image_tag "/images/organizations/logo_trek.svg", alt: "Trek10 logo", loading: "lazy", class: "intro-organization-logo"
          = image_tag "/images/organizations/logo_mga.svg", alt: "Treck logo", loading: "lazy", class: "intro-organization-logo"

    .col-md-6.u-margin-bottom-0
      .mobile-adaptive-hide-under-lg
        %img{src: "/images/enterprise/gitlab-enterprise-header-flow-desktop.png", alt: "Image: version control", loading: "lazy"}

.container.container2020
  .row#ship-features-faster
    .container.slp-flex.slp-flex-col.slp-items-center
      = image_tag "/images/enterprise/tier_3_confetti.svg"
      %h2.text-align-center Leading the way with CI, SCM, and DevSecOps.
      %p.block-heading.text-align-center GitLab can be part of your toolchain - or your entire toolchain. We help teams deliver better products faster by deploying as a single application across the entire software development lifecycle.
      %img{src:"/images/enterprise/gitlab-enterprise-panel-rapid-feedback.png", alt: "Image: Gitlab Features", loading: "lazy", style: "width: 512px; max-width: 100%;"}
  .row.slp-mt-32
    .col-md-4.block-single-app
      = image_tag "/images/enterprise/continuous_delivery.svg", class: "slp-mb-8"
      %h3.text-align-center.slp-mb-8 Single application for the entire DevOps lifecycle
      %p.text-align-center GitLab’s all-in-one CI/CD, source code management, and security helps your team work more efficiently to deliver customer value quickly, with lower risk and cost.
    .col-md-4.block-lower-cost
      = image_tag "/images/enterprise/cog_code.svg", class: "slp-mb-8"
      %h3.text-align-center.slp-mb-8 Lower cost of development
      %p.text-align-center A single application eliminates complex integrations, data chokepoints, and toolchain maintenance, resulting in greater productivity and lower cost.
    .col-md-4.block-deployment
      = image_tag "/images/enterprise/cog_check.svg", class: "slp-mb-8"
      %h3.text-align-center.slp-mb-8 Your software, deployed your way
      %p.text-align-center GitLab is infrastructure agnostic (supporting GCP, AWS, Azure, OpenShift, VMware, On Prem, Bare Metal, and more), offering a consistent workflow experience - irrespective of the environment.

.row#free-gitlab-trial
  .container.u-margin-top-0.u-margin-bottom-xs
    = partial "includes/components/cta-trial"

.row#customers
  .container.container2020.u-margin-bottom-md
    = partial "includes/components/customer-highlight-trio"

.row#how-does-gitlab-help.highlight-gray.flattop
  .u-padding-top-0.u-padding-bottom-0
    .container.container2020
      = partial "includes/components/feature-list"

.row#ask-us-anything
  .u-padding-top-md
    .container.container2020
      = partial "includes/components/cta-contact"


= partial "includes/free-trial-banner"
